<nav th:fragment="barra-superior"
     class="navbar navbar-expand-md navbar-dark bg-dark">


  <header class="p-3 bg-dark text-white" >
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

          <li> <img src="/Imagen/calabera.png" id="foto" alt="Tu imagen" class="w-25 h-60"></li>
          <li><a href="/figuras/lista" class="nav-link px-2 text-secondary">Inicio</a></li>
          <li><a href="/caracteristicas" class="nav-link px-2 text-white">Características</a></li>
          <li><a href="/pagoEnca" class="nav-link px-2 text-white">Precios</a></li>
          <li><a href="/faqs" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="/encabezado" class="nav-link px-2 text-white">Acerca</a></li>

          <!--  de aqui-->
          <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              <span th:text="${#authentication.name}">Opciones</span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <span class="dropdown-item" th:text=" ' App: ' + ${session.numVisitasApp}"></span>
              </li>
              <li>
                <span class="dropdown-item" th:text=" ' index: ' + ${session.numVisitasIndex}"></span>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li><a href="/perfil/new" class="nav-link px-2 text-secondary">Crear prefil</a></li>

              <li>
                <hr class="dropdown-divider">
              </li>

              <!--esto es para crear un nuevo perfil-->
              <li>
                <a href="/perfil/list" class="nav-link px-2 text-secondary">Lista perfiles</a>

              </li>


            </ul>
          </li>
        </ul>
        <!-- Esto es para que te pueda filtrar estoy llamando al controlador-->

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"   method="get" action="/figuras/filtar" >
          <input type="text" class="form-control form-control-dark" placeholder="Buscar..." aria-label="Buscar">
          <button type="submit" class="btn btn-primary">Buscar</button>
        </form>




        <div class="text-end">

          <a href="/creador" class="btn btn-outline-light me-2">Creador</a>
        </div>
        <div class="text-end">

          <form id="logoutForm" th:action="@{/usuario/logout}" method="post">
            <!-- Puedes agregar campos ocultos si es necesario -->
            <button type="submit" class="btn btn-warning">
              <i class="fas fa-sign-out-alt"></i> Exit
            </button>
          </form>
        </div>


        <!--   Son para que te cuentes los inicios de sesion est atambien puesto arriba
        <div  sec:authorize="hasRole('ROLE_ADMIN')" >

                 <span class="dropdown-item" th:text=" ' App: ' + ${session.numVisitasApp}"></span>


                 <span class="dropdown-item" th:text=" ' index: ' + ${session.numVisitasIndex}"></span>
         </div> -->



      </div>
    </div>
  </header>
</nav>
