<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragmentos/head::encabezado(~{::title}, ~{})}">
  <title>Login</title>
</head>

<body>

<main class="container mt-5">
  <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
    <div class="card">
      <div class="card-header">Acceso a la aplicación</div>

      <div class="card-body pt-3">
        <span th:if="${param.error}">Credenciales no válidas</span>

          <!--  esto se pone asi aunque en el inicio de sesion tenga al ruta del getmaping aqui s epone post con ese nombre y va -->
        <form sec:authorize="!isAuthenticated()" th:action="@{/usuario/login}" method="post">

          <div class="input-group mb-3">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
            <input id="login-username" type="text" class="form-control" name="username"
                   placeholder="Introduzca username o email">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text"><i class="fa fa-lock"></i></span>
            <input id="login-password" type="password" class="form-control" name="password"
                   placeholder="Introduzca contraseña">
          </div>


          <!-- Button -->
          <div class="col-sm-12">
            <button id="btn-login" type="submit" class="btn btn-success">Login</button>
          </div>

        </form>
      </div>
      <div class="card-footer text-center">

        <div class="checkbox mb-3">
          <label for="recuerdame">Recuérdame</label>
          <input type="checkbox" id="recuerdame" value="recuerdame">
        </div>
        <p class="text-center mt-3">¿No tienes cuenta?
          <a class="text-primary" th:href="@{/usuario/signup}">Crear cuenta</a>
        </p>
        <p sec:authorize="isAuthenticated()">Usted ya ha iniciado una sesión</p>
      </div>
    </div>
  </div>

</main>
</body>
</html>