<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Acerca</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="css/creador.css">
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

                <li> <img src="/Imagen/calabera.png" id="foto" alt="Tu imagen" class="w-25 h-60"></li>
                <li><a href="/figuras/lista" class="nav-link px-2 text-secondary">Inicio</a></li>
                <li><a href="/caracteristicas" class="nav-link px-2 text-white">Características</a></li>
                <li><a href="/pagoEnca" class="nav-link px-2 text-white">Precios</a></li>
                <li><a href="/faqs" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="/encabezado" class="nav-link px-2 text-white">Acerca</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark" placeholder="Buscar..." aria-label="Buscar">
            </form>

            <div class="text-end">
                <a href="/creador" class="btn btn-outline-light me-2">Creador</a>
                <a href="/inicio" class="btn btn-warning">Exit</a>

            </div>
        </div>
    </div>
</header>
<!--cambiar el th action con lo que ponga en el controlador-->
<form th:action="@{/inicio/fifura}" method="post">

    <div class="container-fluid">
        <div class="card">
            <div class="card-body" id="centrar">
                <h3>Creador</h3>
                <img src="/Imagen/bill.jpg">
                <h6> Aitor Sanchez Ramirez</h6>
            </div>

            <div class="card-body">
                <h3>Correo:</h3>
                <p> seraitors@gmail.com</p>


            </div>
        </div>
    </div>
    <di class="pt-3">

        <button type="submit " class="btn btn-primary"> Inicio</button>
    </di>

</form>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" ></script>
</body>
</html>